force-app/main/default/flows/screenflow_gBizInfoAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>取引先の名前をもとにgBizInfoの法人情報検索APIを呼び出します。</description>
        <name>gBizInfo_SearchHojinInfosByAccountName</name>
        <label>gBizInfoのAPIで法人情報を取得</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <actionName>gBizInfo.searchInfoUsingGET</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>assignment_ExtractHojinInfoListFromApiResponse</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>get_CurrentAccount.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>X-hojinInfo-api-token</name>
            <value>
                <elementReference>constant_gBizInfo_ApiKey</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_gBizInfoSuccessResponse</assignToReference>
            <name>200</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>法人情報のコレクション変数の要素数を取得します。</description>
        <name>assignment_CountHojinInfos</name>
        <label>検索結果の法人情報の数をカウント</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>var_NumOfHojinInfos</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>var_HojinInfoCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_HojinInfoSize</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>APIレスポンスから、hojin-infoのリストの箇所だけを取り出して新しいコレクション変数に設定します。</description>
        <name>assignment_ExtractHojinInfoListFromApiResponse</name>
        <label>APIレスポンスから法人情報だけを抽出</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>var_HojinInfoCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_gBizInfoSuccessResponse.hojinx2dinfos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment_CountHojinInfos</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>gBizInfoのAPIキーを保存するための定数です。値を申請したAPIキーに置換してください。</description>
        <name>constant_gBizInfo_ApiKey</name>
        <dataType>String</dataType>
        <value>
            <stringValue>YOUR_API_KEY</stringValue>
        </value>
    </constants>
    <decisions>
        <description>法人番号が設定されているかどうかに応じて画面を分岐するための決定要素です。このフローでは例として標準の取引先番号を使用しているためこの項目値に値があるかで分岐しています。</description>
        <name>decision_AccountNumber</name>
        <label>取引先に法人番号がある</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>screen_HasAccountNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>法人番号に値がある</defaultConnectorLabel>
        <rules>
            <name>result_NoAccountNumber</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_CurrentAccount.AccountNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CurrentAccount.AccountNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gBizInfo_SearchHojinInfosByAccountName</targetReference>
            </connector>
            <label>法人番号が空</label>
        </rules>
    </decisions>
    <decisions>
        <description>検索結果の件数に応じて表示する画面を分岐するための決定要素です。</description>
        <name>decision_HojinInfoSize</name>
        <label>検索結果件数</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>screen_NoHojinInfos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>0件</defaultConnectorLabel>
        <rules>
            <name>result_HasResult</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NumOfHojinInfos</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subflow_ConvertHojinInfosToQuickChoice</targetReference>
            </connector>
            <label>1件以上</label>
        </rules>
    </decisions>
    <description>取引先の名前からgBizInfoのAPIで法人情報を検索し、画面に選択肢として表示します。選択された法人情報に基づいて元の取引先を更新する画面フローです。</description>
    <interviewLabel>法人情報取得画面 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>法人情報を検索・更新する画面フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>現在開いている取引先レコードを取得します。</description>
        <name>get_CurrentAccount</name>
        <label>現在開いている取引先のレコード情報を取得</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_AccountNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>選択された法人情報で取引先を更新します。</description>
        <name>update_AccountBySelectedHojinInfo</name>
        <label>選択された法人情報で取引先を更新</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>var_SelectedHojinInfo.corporatex5fnumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_SelectedHojinInfo.name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>var_SelectedHojinInfo.postalx5fcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>var_SelectedHojinInfo.location</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <description>法人番号(ここでは取引先番号)に値があるときに確認メッセージを表示するための画面です。</description>
        <name>screen_HasAccountNumber</name>
        <label>法人番号が設定済のときの画面</label>
        <locationX>270</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>gBizInfo_SearchHojinInfosByAccountName</targetReference>
        </connector>
        <fields>
            <name>displayText_HasAccountNumberScreen</name>
            <fieldText>&lt;p&gt;この取引先には法人番号が設定されています。改めて取引先名で法人番号を検索し更新したい場合は [次へ] をクリックしてください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>法人情報の検索結果をラジオボタンとして表示する画面です。</description>
        <name>screen_HojinInfoSelection</name>
        <label>法人情報を選択する画面</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>subflow_GetSelectedHojinInfoByNumber</targetReference>
        </connector>
        <fields>
            <name>displayText_HojinInfoSelectionScreen</name>
            <fieldText>&lt;p&gt;以下の法人情報が見つかりました。法人情報を選択して [完了] をクリックすると選択された情報で取引先が更新されます。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>quickChoice_HojinInfoSelectionScreen</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Radio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>var_HojinNameChoices</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>var_HojinNumberCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>var_SelectedHojinNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>1024.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>法人情報</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>検索結果が0件のときに表示する画面要素です。</description>
        <name>screen_NoHojinInfos</name>
        <label>法人情報がない時の画面</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayText_NoHojinInfos</name>
            <fieldText>&lt;p&gt;取引先名「{!get_CurrentAccount.Name}」では法人情報が見つかりませんでした。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_CurrentAccount</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <description>gBizInfoの法人情報リストを、動的なラジオボタンとして表示するために、選択肢の表示ラベル(名前・法人番号・住所の結合)と値(法人番号)という形に加工します。処理はサブフロー内で行われます。</description>
        <name>subflow_ConvertHojinInfosToQuickChoice</name>
        <label>法人情報リストを選択肢に加工する</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>screen_HojinInfoSelection</targetReference>
        </connector>
        <flowName>subflow_ConvertHojinInfosToQuickChoice</flowName>
        <inputAssignments>
            <name>var_HojinInfoCollection</name>
            <value>
                <elementReference>var_HojinInfoCollection</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_HojinNameChoices</assignToReference>
            <name>var_HojinNameCollection</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_HojinNumberCollection</assignToReference>
            <name>var_HojinNumberCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>subflow_GetSelectedHojinInfoByNumber</name>
        <label>選択された法人情報をリストから取得</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>update_AccountBySelectedHojinInfo</targetReference>
        </connector>
        <flowName>subflow_getElementFromHojinInfoCollection</flowName>
        <inputAssignments>
            <name>var_HojinInfoCollection</name>
            <value>
                <elementReference>var_HojinInfoCollection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_HojinNumber</name>
            <value>
                <elementReference>var_SelectedHojinNumber</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_SelectedHojinInfo</assignToReference>
            <name>var_HojinInfoResult</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>gBizInfoの法人情報取得APIのレスポンスを保存するための変数です。</description>
        <name>var_gBizInfoSuccessResponse</name>
        <apexClass>ExternalService__gBizInfo_HojinInfoResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>APIレスポンスから法人情報のリストを取り出すために使用する変数です。</description>
        <name>var_HojinInfoCollection</name>
        <apexClass>ExternalService__gBizInfo_HojinInfo</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_HojinNameChoices</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_HojinNumberCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>検索された法人情報の件数を格納する変数です。</description>
        <name>var_NumOfHojinInfos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>画面で選択された法人情報です。ラジオボタン(QuickChoice)の結果では法人番号だけが値にしているため、選択された法人番号に基づいてサブフローで法人情報を取得しなおす際にこの変数に法人情報が設定されます。この変数を用いて取引先を更新します。</description>
        <name>var_SelectedHojinInfo</name>
        <apexClass>ExternalService__gBizInfo_HojinInfo</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>画面で選択された法人の法人番号を保存するための変数です。</description>
        <name>var_SelectedHojinNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
