force-app/main/default/flows/subflow_GetElementFromHojinInfoCollection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>assignment_HojinInfoResult</name>
        <label>法人情報を設定</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>var_HojinInfoResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_HojinInfoCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_HojinInfoCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_Hojinumber</name>
        <label>法人番号</label>
        <locationX>396</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>loop_HojinInfoCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>それ以外</defaultConnectorLabel>
        <rules>
            <name>result_sameAsInput</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_HojinInfoCollection.corporatex5fnumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_HojinNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_HojinInfoResult</targetReference>
            </connector>
            <label>入力された番号と一致</label>
        </rules>
    </decisions>
    <description>法人番号をキーに、法人情報のコレクション変数から該当する法人情報を取り出すためのサブフローです。</description>
    <interviewLabel>gBizInfoの法人情報リストから任意の法人番号の要素を取得するサブフロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>gBizInfoの法人情報リストから任意の法人番号の要素を取得するサブフロー</label>
    <loops>
        <name>loop_HojinInfoCollection</name>
        <label>法人情報のリストでループ</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>var_HojinInfoCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision_Hojinumber</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loop_HojinInfoCollection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>元の画面フローから渡される法人情報のリストです。</description>
        <name>var_HojinInfoCollection</name>
        <apexClass>ExternalService__gBizInfo_HojinInfo</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>元の画面フローに返却するための1件の法人情報を管理するための変数です。</description>
        <name>var_HojinInfoResult</name>
        <apexClass>ExternalService__gBizInfo_HojinInfo</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>元の画面フローから呼び出される、サブフローの入力値として使用される法人番号です。</description>
        <name>var_HojinNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
