force-app/main/default/flows/subflow_ConvertHojinInfosToQuickChoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>assignment_HojinInfoForChoices</name>
        <label>選択肢用に法人の名前・住所と番号を取得</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>var_HojinNameCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ChoiceLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HojinNumberCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_HojinInfoCollection.corporatex5fnumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_HojinInfoCollection</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>formula_ChoiceLabel</name>
        <dataType>String</dataType>
        <expression>{!loop_HojinInfoCollection.name} &amp; &quot; (&quot;&amp;{!loop_HojinInfoCollection.corporatex5fnumber} &amp; &quot;) 〒&quot; &amp; {!loop_HojinInfoCollection.postalx5fcode} &amp; &quot; &quot; &amp; {!loop_HojinInfoCollection.location}</expression>
    </formulas>
    <interviewLabel>gBizInfoの法人情報リストから選択肢のラベルと値を設定するサブフロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>gBizInfoの法人情報リストから選択肢のラベルと値を設定するサブフロー</label>
    <loops>
        <name>loop_HojinInfoCollection</name>
        <label>法人情報のリストでループ</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>var_HojinInfoCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignment_HojinInfoForChoices</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loop_HojinInfoCollection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_HojinInfoCollection</name>
        <apexClass>ExternalService__gBizInfo_HojinInfo</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_HojinNameCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_HojinNumberCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
